{
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "semi": false,
  "tabWidth": 2,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true
}